<!-- <form action="/client/questions" method="post"> -->
<%= form_tag "/client/questions", method: :post do %>
  <div>
    Animal: <input type="text" name="animal_id" value="" />
  </div>
  <div>
    Title: <input type="text" name="tittle" value="" />
  </div>
  <div>  
    What is your question?: <textarea name="text" id="text" cols="30" rows="10">
    </textarea>
  </div>
  <div>
    Symptoms: <input type="text" name="symptoms" value=""/>
  </div>
  <input type="submit" name="" value="Post" />
<% end %>